# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Temporary logs & checkpoints
*.log
.DS_Store

# Raw Image Dataset
IJCAI2019_data/
